<a href="https://colab.research.google.com/github/parkingim/AI-python/blob/main/20250328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num1_str = input("첫 번째 정수를 입력하세요:")
num2_str = input("두 번째 정수를 입력하세요:")

첫 번째 정수를 입력하세요:21
두 번째 정수를 입력하세요:12

In [2]:
num1 = int(num1_str)
num2 = int(num2_str)
if num1 > num2:
  print("{num1}은 {num2}보다 큽니다.")
elif num1 < num2:
  print("{num2}는 {num1}보다 큽니다.")
else:
  print("{num2}과 {num1}은 같습니다.")

{num1}은 {num2}보다 큽니다.

In [3]:
num1_str = input("첫 번째 정수를 입력하세요:")
num2_str = input("두 번째 정수를 입력하세요:")
num3_str = input("세 번째 정수를 입력하세요:")

첫 번째 정수를 입력하세요:1
두 번째 정수를 입력하세요:2
세 번째 정수를 입력하세요:3

In [23]:
num1 = int(num1_str)
num2 = int(num2_str)
num3 = int(num3_str)

max_num = num1
if num2 > max_num:
  print("{num2}가 현재 최대값{max_num}보다 큽니다. 최댓값을 업데이트합니다.")
  max_num = num2
else:
  print("{num2}는 현재 최대값보다 크지 않습니다")

if num3 > max_num:
  print("{num3}가 현재 최대값{max_num}보다 큽니다. 최댓값을 업데이트합니다.")
  max_num = num3
else:
  print("{num3}은 현재 최대값보다 크지 않습니다")

print(f"입력하신 세 수 {num1}, {num2}, {num3} 중에서 가장 큰 수는 {max_num}입니다 ")

{num2}가 현재 최대값{max_num}보다 큽니다. 최댓값을 업데이트합니다.
{num3}가 현재 최대값{max_num}보다 큽니다. 최댓값을 업데이트합니다.
입력하신 세 수 1, 2, 3 중에서 가장 큰 수는 3입니다

In [47]:
score_str = input("점수를 입력하세요:")
score = int(score_str)

점수를 입력하세요:76

In [52]:
if 0 <= score <= 100:
  if score >= 90:
    grade ='A'
  elif 90 > score >= 80:
    grade ='B'
  elif 80 > score >= 70:
    grade ='C'
  elif 70 > score >= 60:
    grade ='D'
  else:
    grade ='F'
  print(f"당신의 학점은 {grade}입니다.")
else:
  print("점수는 0점에서 100점 사이의 값이어야 합니다.")

당신의 학점은 C입니다.

In [60]:
year_str = input("연도를 입력하세요: ")
year = int(year_str)

연도를 입력하세요: 1996

In [61]:
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print(f"{year}년은 윤년입니다.")
else:
  print(f"{year}년은 윤년이 아닙니다.")

1996년은 윤년입니다.

In [68]:
for i in range(1,6): # 1~5까지 반복
 print("반복!", i)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [71]:
for i in[ 'A','B',3,4,5]:
    print("반복!",i)

반복! A
반복! B
반복! 3
반복! 4
반복! 5

In [72]:
count = 0
while count < 3:
  print("반복 중:",count)
  count+= 1 #하나씩 증가

반복 중: 0
반복 중: 1
반복 중: 2

In [77]:
n_str = input("양의 정수 N를 입력하세요:")

양의 정수 N를 입력하세요:11

In [79]:
N = int(n_str)
if N <= 0:
 print("N은 양의 정수여야 합니다")
else:
  total = 0
  for i in range(1,N+1):
    total+=i
print(f"1부터 {N}까지의 합은: {total}입니다.")

1부터 11까지의 합은: 66입니다.

In [85]:
# 문제 4: 특정 조건까지 반복하기 (while 루프)
count = 0
print("0부터 9까지 출력:")

while count < 10:
 print(count)
 count += 1
print("while 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
while 루프 종료

In [90]:
count = 0
print("0부터 9까지 출력:")

for i in range(10):
 print(count)
 count+=1
print("for루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
for루프 종료